<div class="page-header">
  <div class = "header">
  <h2>Are you a lawyer who needs to find co-counsel, contract assistance, and specialized support?  Look no further!
  Here are some of the best attorneys in the nation ready to jump in and help.  Use to search bar above to narrow your
  choices.</h2>
  </div>
</div>


<div class="row">

  <% @providers.each do |p| %>

  <!-- Provider Thumbnail -->
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">

      <div class="caption">
        <h4><%= link_to p.provider_name, "/providers/#{p.id}"%></h4>

        <p>
          <%= p.provider_contact%>
        </p>
        <p>
          <%= p.provider_address %>
        </p>

        <p>
          <%= truncate p.description, length: 40 %>
          <%= link_to "[see more]", "/providers/#{p.id}" %>
        </p>
        <p>Hourly Rate: <%= number_to_currency(p.rate) %></p>
      </div>
    </div>
  </div>

  <% end %>
</div>
