<div class="page-header">
  <h1><%= @provider.provider_name %></h1>

  <p>

    <% if session["user_id"].present? %>
        <% user = Provider.find_by(id: session["user_id"]) %>

        <% if user != nil %>

        <% user_id = user.id %>
        <%= link_to "Edit This Provider Information", "/providers/#{@provider.id}/edit" %>
        <%= link_to "Delete This Listing", "/products/#{@provider.id}", method: 'delete', data: { confirm: "Are you crazy?" } %>
        <% end %>
    <% end %>


  </p>
</div>

<div class="row">



  <div class="col-sm-8">

    <p>
      <%= @provider.provider_contact %>
    </p>

    <p>
      <%= @provider.provider_address %>
    </p>

    <p>
      <%= @provider.description %>
    </p>


    <p class="price"><%= number_to_currency(@provider.rate) %>
      <% if session["user_id"].present? %>

          <% user = Client.find_by(id: session["user_id"]) %>

          <% if user != nil %>
            <% user_id = user.id %>
            <%= link_to "Hire", "/orders/#{@provider.id}?client=#{user_id}", class: "btn btn-lg btn-success" %>
          <% end %>
      <% else %>
          <> Sign In To Hire This Attorney </p>
      <% end %>


    </p>

    <hr>


  </div>

</div>
