<div class="page-header">
  <h1>Sign In</h1>
</div>

<div class="row">
  <div class="col-sm-4">

  <%= form_tag("/sessions", method: 'post') do  %>

    <div class="form-group">
      <%= label_tag :email, "Email Address" %>
      <%= text_field_tag :email, "", autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :password, "Password" %>
      <%= text_field_tag :password, "", class: 'form-control' %>
    </div>

    <p>All passwords are 'password'</p>

    <%= submit_tag "Let Me In", class: 'btn btn-success btn-lg'%>
    or
    <%= link_to "Cancel", root_url %>



  <% end %>

  </div>

  <div class="col-sm-4">
    <h3>Client Accounts</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% Client.all.each do |client| %>
          <tr>
            <td><%= client.client_contact %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-sm-4">
    <h3>Service Provider Accounts</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <% Provider.all.each do |provider| %>
          <tr>
            <td><%= provider.provider_contact %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
